# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock

# find . -type f -size +50M
.gdb_history*

# src\content\posts

## posts 1
src/content/posts/2024-vcs-passport-re03/Archived/
